.rightrange{
	margin-left: 8%;
	margin-top: 3%;
	background-color: #FFFFFF;
	opacity: 0.8;
	width: 38.05%;
	height: 5%;
	border: 1px solid #000000;
}
.rightrangehead{
	margin-left: 40%;
	font-weight: 600;
	font-size: 18px;
	font-family: 'Cabin Condensed', sans-serif;
}
.stock-left{
	float: left;
	margin-left: 8%;
	width: 19%;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	background-color: #FFFFFF;
}
.stock-right{
	float: left;
	width: 19%;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	background-color: #FFFFFF;
}
.stockHead{
	color: #444444;
	font-size: 14px;
}
.stockBody-rise{
	font-size: 14px;
	font-weight: 100;
}
.stockBody-rise-td1{
	width:95px;
	font-weight: 100;
	color: #528FCC;
	padding-top: 7px;
	text-align: center;	
}
.stockBody-rise-td2{
	font-size: 12px;
	width:80px;
	font-weight: 100;
	color: #D75442;
	padding-top: 7px;
	text-align: center;
}
.stockBody-rise-td3{
	width:50px;
	font-weight: 100;
	padding-top: 7px;
	text-align:center;
}
.stockBody-rise-td4{
	width:60px;
	font-weight: 100;
	padding-top: 7px;
}
.stockBody-down{
	font-size: 14px;
	font-weight: 100;
}
.stockBody-down-td1{
	width:95px;
	font-weight: 100;
	color: #528FCC;
	padding-top: 7px;
	text-align: center;	
}
.stockBody-down-td2{
	font-size: 12px;
	width:80px;
	font-weight: 100;
	color: #59b881;
	padding-top: 7px;
	text-align: center;
}
.stockBody-down-td3{
	width:50px;
	font-weight: 100;
	padding-top: 7px;
	text-align:center;
}
.stockBody-down-td4{
	width:60px;
	font-weight: 100;
	padding-top: 7px;
}
a{
	color: #528FCC;
}
.stockInfo{
	float: left;
	/*margin-left: 5%;*/
	width: 600px;
	height: 221px;
	border-right: 1px solid #000000;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	background-color: #FFFFFF;
}
.stockInfo2{
	float: left;
	width: 600px;
	height: 220px;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	background-color: #FFFFFF;
}
.data{
	position: absolute;
	top: 123px;
	left: 630px;
	width: 400px;
	height: 33px;
	border: 1px solid #000000;
	background-color: #FFFFFF
}
.search{
	position: absolute;
	top:123px;
	left: 1030px;
	width: 200px;
	height: 33px;
	border: 1px solid #000000;
	background-color: #FFFFFF;
}
