.rangeandgraph{
	width: 100%;
	height: 495px;	
	background-color: #FFFFFF; 
}
.range{
	float: left;
	margin-left: 15%;
	width: 25%;
	height: 490px;
	background-color: #FFFFFF;
}
.rangehead{
	float: left;
	width: 100%;
	height: 49px;
	border-bottom: 1px solid #C0C0C0;
}
.rangeheadtext{
	margin-top: 15px;
	margin-left: 3%;
	height: 34px;
	font-size: 26px;
	font-family: "Roboto Mono", monospace;
}
.rangecontent{
	float: left;
	width: 100%;
	height: 440px;
}
.row{
	float: left;
	width: 100%;
	height: 40px;
	font-size: 14px;
	font-family: "Roboto Mono", monospace;
}
#row1{
	border-right: 2px solid #C0C0C0;
}
.column{
	float: left;
	width: 25%;
	margin-top: 10px;
	text-align: center;
}
.column1{
	cursor: hand;
	float: left;
	width: 25%;
	margin-top: 10px;
	text-align: center;
	color: #003366;
	font:16px/14px Georgia, "Times New Roman", Times, serif;
}
.column2{
	float: left;
	width: 25%;
	margin-top: 10px;
	text-align: center;
	color: rgb(207,25,74);
	font:.9em Arial, Tahoma, Verdana;
}
.column3{
	float: left;
	width: 25%;
	margin-top: 10px;
	text-align: center;
	color: #003366;
	font:.9em Arial, Tahoma, Verdana;
}
.column4{
	float: left;
	width: 25%;
	margin-top: 8px;
	text-align: center;
	cursor: hand;
}
.column1 a:hover{
	color: #00688B;
}
.graph{
	float: left;
	margin-left: 20px;
	width: 45%;
	height: 490px;
	/*background-color: #FFFFFF;*/
}
.graphhead{
	float: left;
	width: 100%;
	height: 49px;
	background-color: #FFFFFF;
	border-bottom: 1px solid #C0C0C0;
}
.nemeandcode{
	float: left;
	width: 30%;
	margin-top: 4px;
	height: 45px;
	background-color: #FFFFFF;
	color: #003366;
}
.sname{
	width: 100%;
	font-family: "Roboto Mono", monospace;
	font-size: 20px;
}
.scode{
	width: 100%;
	margin-left: 8px;
	font-family: "Roboto Mono", monospace;
	font-size: 18px;
}
.stockInfo{
	float: left;
	margin-left: 30%;
	width: 40%;
	margin-top: 15px;
	height: 30px;
	background-color: #FFFFFF;
	
}
.stockInfo span{
	margin-top: 15px;
}
.kline{
	float: left;
	width: 100%;
	height: 320px;
	background-color: #FFFFFF;
}
.volume{
	float: left;
	width: 100%;
	height: 120px;
	background-color: #FFFFFF;
}
.todayrecommend{
	float: left;
	width: 100%;
	height: 80px;
	background-color: #FFFFFF;
}
.trhead{
	margin-left: 15%;
	width: 70%;
	padding-top: 30px;
	height: 39px;
	border-bottom: 1px solid #C0C0C0;
}
.trheadtext{
	margin-left: 45%;
	/*margin-top: 15px;*/
	width: 128px;
	height: 32px;
	font-size: 26px;
	font-family: "Roboto Mono", monospace;
}
.realmarket{
	float: left;
	width: 100%;
	height: 250px;
	background-color: #FFFFFF;
}
.shangz{
	float: left;
	width: 22%;
	height: 250px;
	margin-left: 15%;
	background-color: #FFFFFF;
}
.text{
	float: left;
	width: 32%;
	height: 59px;
	background-color: #FFFFFF;
	border-bottom: 1px solid #C0C0C0;
}
.name{
	margin-top: 8px;
	margin-left: 10%;
	width: 100%;
	font-size: 18px;
	font-family: "Roboto Mono", monospace;
	height: 20px;
}
.code{
	margin-top: 5px;
	margin-left: 17%;
	width: 100%;
	font-size: 18px;
	font-family: "Roboto Mono", monospace;
	height: 20px;
}
.info{
	float: left;
	margin-top: 14px;
	width: 66%;
	height: 45px;
	background-color: #FFFFFF;
	border-left: 1px solid #C0C0C0;
	border-top: 1px solid #C0C0C0;
	font-size: 12px;
	font-family: "Roboto Mono", monospace;
}
.data{
	float: left;
	margin-left: 5%;
	margin-top: 4px;
	width: 45%;
	height: 20px;
}
.udrange{
	float: left;
	width: 45%;
	height: 20px;
}
.toprice{
	float: left;
	width: 45%;
	height: 20px;
}
.udprice{
	float: left;
	width: 45%;
	height: 20px;
}
.shenz{
	float: left;
	width: 22%;
	height: 250px;
	margin-left: 2%;
	background-color: #FFFFFF;
}
.chuangy{
	float: left;
	width: 22%;
	height: 250px;
	margin-left: 2%;
	background-color: #FFFFFF;
}
.news{
	float: left;
	width: 100%;
	height: 250px;
	background-color: #FFFFFF;
}
.newstext{
	float: left;
	margin-left: 15%;
	width: 70%;
	height: 250px;
	background-color: #FFFFFF;
}
.newshead{
	float: left;
	width: 100%;
	height: 59px;
	background-color: #FFFFFF;
	border-bottom: 1px solid #C0C0C0;
}
.nhname{
	text-align: center;
	margin-left: 43%;
	margin-top: 18px;
	width: 128px;
	height: 16px;
	font-size: 24px;
	font-family: "Roboto Mono", monospace;
}
.zqcj{
	float: left;
	width: 32%;
	height: 189px;
	background-color: #FFFFFF;
	border-bottom: 1px solid #C0C0C0;
}
.gncj{
	float: left;
	margin-left: 2%;
	width: 32%;
	height: 189px;
	background-color: #FFFFFF;
	border-bottom: 1px solid #C0C0C0;
}
.mgwh{
	float: left;
	margin-left: 2%;
	width: 32%;
	height: 189px;
	background-color: #FFFFFF;
	border-bottom: 1px solid #C0C0C0;
}
.content a{
	color: #000000;
}
.titleimg{
	float: left;
	margin-left: 5%;
	margin-top: 5px;
	width: 36px;
	height: 36px;
	background-color: #006688;
	border-radius: 100%;
	opacity: 0.8;
}
.num{
	margin-left: 12px;
	margin-top: 5px;
	font-size: 18px;
	color: #FFFFFF;
}
.titletext{
	text-align: center;
	float: left;
	margin-top: 5px;
	width: 75%;
	padding-top: 8px;
	height: 24px;
	border-bottom: 1px solid #006688;
}
.newscontent{
	clear: left;
	margin-top: 5px;
	margin-left: 15%;
	width: 80%;
	padding-top: 8px;
	height: 140px;
	background-color: #FFFFFF;
}
.content{
	margin-left: 5%;
	margin-top: 6%;
	margin-bottom: 9%;
	width: 80%;
	height: 20px;
	word-wrap:break-word;  
    word-break:break-all;
    font-size: 12px;
    font-family: "Roboto Mono", monospace;
}
/*.rightrange{
	margin-left: 8%;
	margin-top: 3%;
	background-color: #FFFFFF;
	opacity: 0.8;
	width: 38.05%;
	height: 5%;
	border: 1px solid #000000;
}
.rightrangehead{
	margin-left: 40%;
	font-weight: 600;
	font-size: 18px;
	font-family: 'Cabin Condensed', sans-serif;
}
.stock-left{
	float: left;
	margin-left: 8%;
	width: 19%;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	background-color: #FFFFFF;
}
.stock-right{
	float: left;
	width: 19%;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	background-color: #FFFFFF;
}
.stockHead{
	color: #444444;
	font-size: 14px;
}
.stockBody-rise{
	font-size: 14px;
	font-weight: 100;
}
.stockBody-rise-td1{
	width:95px;
	font-weight: 100;
	color: #528FCC;
	padding-top: 7px;
	text-align: center;	
}
.stockBody-rise-td2{
	font-size: 12px;
	width:80px;
	font-weight: 100;
	color: #D75442;
	padding-top: 7px;
	text-align: center;
}
.stockBody-rise-td3{
	width:50px;
	font-weight: 100;
	padding-top: 7px;
	text-align:center;
}
.stockBody-rise-td4{
	width:60px;
	font-weight: 100;
	padding-top: 7px;
}
.stockBody-down{
	font-size: 14px;
	font-weight: 100;
}
.stockBody-down-td1{
	width:95px;
	font-weight: 100;
	color: #528FCC;
	padding-top: 7px;
	text-align: center;	
}
.stockBody-down-td2{
	font-size: 12px;
	width:80px;
	font-weight: 100;
	color: #59b881;
	padding-top: 7px;
	text-align: center;*/
/*}
.stockBody-down-td3{
	width:50px;
	font-weight: 100;
	padding-top: 7px;
	text-align:center;
}
.stockBody-down-td4{
	width:60px;
	font-weight: 100;
	padding-top: 7px;
}
a{
	color: #528FCC;
}
.stockInfo{
	float: left;
	/*margin-left: 5%;*/
	/*width: 600px;
	height: 221px;
	border-right: 1px solid #000000;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	background-color: #FFFFFF;
}
.stockInfo2{
	float: left;
	width: 600px;
	height: 220px;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	background-color: #FFFFFF;
}*/
/*.data{
	position: absolute;
	top: 123px;
	left: 630px;
	width: 600px;
	height: 33px;
	border: 1px solid #000000;
	background-color: #FFFFFF
}*/
/*.search{
	position: absolute;
	top:123px;
	left: 1030px;
	width: 200px;
	height: 33px;
	border: 1px solid #000000;
	background-color: #FFFFFF;
}*/
/*.news{
	float: left;
	margin-left: 8%;
	margin-top: 3%;
	margin-bottom: 2%;
	width: 1150px;
	height: 250px;
}
.newshead{
	float: left;
	width: 1149px;
	height: 30px;
	background-color: #FFFFFF;
	border: 1px solid #000000;
}
.newsText{
	margin-left: 45%;
	font-weight: 600;
	font-size: 18px;
	font-family: 'Cabin Condensed', sans-serif;
}
.leftcontent{
	float: left;
	width: 573.5px;
	height: 220px;
	background-color: #FFFFFF;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
}
.rightcontent{
	float: left;
	width: 573.5px;
	height: 220px;
	background-color: #FFFFFF;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
}*/