<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MarketInfo</title>
    <script src="../../echarts.js"></script>
    <script>
        function s1(x) {
            x.style.fontWeight = "bold";
            x.style.color = "#fff";
        }
        function s2(x) {
            x.style.fontWeight = "400";
            x.style.color = "#b7b7b7";
        }
    </script>
    <style type="text/css">
        @import "../../css/market/market.css";
    </style>
</head>
<body>
    <div class="header fixed">

        <div class="w1200">

            <div class="hdlogo">

                <a target="_blank" class="site-logo" href="http://www.10jqka.com.cn"> <img src="../../image/图标.png" title="MyQuantGee" alt="MyQuantGee"></a>

            </div>

            <div class="nav">

                <a onmouseover="s1(this)" onmouseout="s2(this)">大盘行情</a>
                <a onmouseover="s1(this)" onmouseout="s2(this)">个股信息</a>
                <a onmouseover="s1(this)" onmouseout="s2(this)">板块资讯</a>
                <a onmouseover="s1(this)" onmouseout="s2(this)">策略大全</a>
                <a onmouseover="s1(this)" onmouseout="s2(this)">模拟交易</a>
                <a href="../../view/ucenter/user_center.html" target="_blank" onmouseover="s1(this)" onmouseout="s2(this)">个人中心</a>

            </div>

            <div class="login-box">

                <a target="_blank">登录</a>

            </div>

            <div class="logined_box hide fr">

                <a href="http://stock.10jqka.com.cn/my/" target="_blank" id="J_username" style="background-position: 100% 40px;">linhanzi</a>

                <span>|</span>

                <a href="javascript:;" id="header_logined_out" target="_self" class="homeloginout">退出</a>

            </div>

        </div>

    </div>
    <div class="container w1200">
        <div class="box">
            <div class="head-img">
                <img src="../../image/标签1.png" width="80" height="50">
            </div>
            <div class="head-text">
                大盘指数
            </div>
        </div>
            <div class="KLine">
                <div class="klineimg">
                    <img src="../../image/kline.png" width="67" height="67">
                </div>
                <div class="klinetext">
                    <h3 class="icons1">近期K线趋势</h3>
                    <p class="detail">
                        <span class="c-rise">最高点：0支</span>
                        <span class="c-fall">最低点：0支</span>
                        <span class="start">起始日期：</span>
                        <span class="d1"><input type="date"></span>
                        <span class="end">结束日期：</span>
                        <span class="d2"><input type="date"></span>
                    </p>
                </div>
                <div class="klinegraph" id="kline"></div>
                <script type="text/javascript" src="../../js/KLine.js"></script>
            </div>
        </div>

</body>
</html>