<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
      <!-- 指定方言-->
      <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
      <!-- 数据库驱动 -->
      <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
      <!-- 指定连接数据库的url，hibernate连接的数据库名 -->
      <property name="connection.url">jdbc:mysql://localhost:3306/quantgee_data</property>
      <!-- 指定连接数据库的用户名 -->
      <!-- 指定连接数据库的密码 -->
      <!-- 根据需要自动创建数据库 -->
      <property name="hbm2ddl.auto">update</property>
      <!-- 显示Hibernate持久化操作所生成的SQL语句 -->
      <property name="show_sql">true</property>
      <!-- 将SQL脚本进行格式化后再输出 -->
      <property name="format_sql">true</property>
      <!--jdbc.fetch_size是指Hibernate每次从数据库中取出并放到JDBC的Statement中的记录条数。Fetch Size设的越大，读数据库的次数越少，速度越快，Fetch Size越小，读数据库的次数越多，速度越慢-->
      <property name="jdbc.fetch_size">50 </property>
      <!--jdbc.batch_size是指Hibernate批量插入,删除和更新时每次操作的记录数。Batch Size越大，批量操作的向数据库发送Sql的次数越少，速度就越快，同样耗用内存就越大-->
      <property name="jdbc.batch_size">23 </property>
      <!--jdbc.use_scrollable_resultset是否允许Hibernate用JDBC的可滚动的结果集。对分页的结果集。对分页时的设置非常有帮助-->
      <property name="jdbc.use_scrollable_resultset">false </property>
      <!--connection.useUnicode连接数据库时是否使用Unicode编码-->
      <property name="Connection.useUnicode">true </property>
      <!--connection.characterEncoding连接数据库时数据的传输字符集编码方式，最好设置为gbk，用gb2312有的字符不全-->
      <property name="connection.characterEncoding">gbk </property>

      <mapping class="bean.Account"/>
      <mapping resource="bean/Account.hbm.xml"/>
      <mapping class="bean.Analysis"/>
      <mapping resource="bean/Analysis.hbm.xml"/>
      <mapping class="bean.CollectStock"/>
      <mapping resource="bean/CollectStock.hbm.xml"/>
      <mapping class="bean.CollectStrategy"/>
      <mapping resource="bean/CollectStrategy.hbm.xml"/>
      <mapping resource="bean/HoldingStock.hbm.xml"/>
      <mapping class="bean.HoldingStock"/>
      <mapping class="bean.MarketInfo"/>
      <mapping resource="bean/MarketInfo.hbm.xml"/>
      <mapping class="bean.News"/>
      <mapping resource="bean/News.hbm.xml"/>
      <mapping class="bean.Strategy"/>
      <mapping resource="bean/Strategy.hbm.xml"/>
      <mapping class="bean.Trade"/>
      <mapping resource="bean/Trade.hbm.xml"/>
      <mapping class="bean.TradeUser"/>
      <mapping resource="bean/TradeUser.hbm.xml"/>
      <mapping class="bean.User"/>
      <mapping resource="bean/User.hbm.xml"/>
      <mapping class="bean.UserMoney"/>
      <mapping resource="bean/UserMoney.hbm.xml"/>
      <mapping class="bean.Stock"/>
      <mapping resource="bean/Stock.hbm.xml"/>

  </session-factory>

</hibernate-configuration>