.leftrange{
	/*position: absolute;*/
	margin-left: 5%;
	margin-top: 3%;
	background-color: #FFFFFF;
	opacity: 0.8;
	width: 38.1%;
	height: 5%;
	border: 1px solid #000000;
}
.leftrangehead{
	/*position: absolute;
	left: 40%;
	top: 20%;*/
	margin-left: 40%;
	font-weight: 600;
	font-size: 18px;
	font-family: 'Cabin Condensed', sans-serif;
}
.industry-left{
	float: left;
	margin-left: 5%;
	width: 19%;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	background-color: #FFFFFF;
}
.industry-right{
	float: left;
	width: 19%;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	background-color: #FFFFFF;
}
.industryHead{
	color: #444444;
	font-size: 14px;
}
.industryBody-rise{
	font-size: 14px;
	font-weight: 100;
}
.industryBody-rise-td1{
	width:75px;
	font-weight: 100;
	color: #528FCC;
	padding-top: 7px;
	text-align: center;	
}
.industryBody-rise-td2{
	font-size: 12px;
	width:65px;
	font-weight: 100;
	color: #D75442;
	padding-top: 7px;
	text-align: center;
}
.industryBody-rise-td3{
	width:90px;
	font-weight: 100;
	padding-top: 7px;
	text-align:center;
}
.industryBody-rise-td4{
	width:60px;
	font-weight: 100;
	padding-top: 7px;
}
.industryBody-down{
	font-size: 14px;
	font-weight: 100;
}
.industryBody-down-td1{
	width:75px;
	font-weight: 100;
	color: #528FCC;
	padding-top: 7px;
	text-align: center;	
}
.industryBody-down-td2{
	font-size: 12px;
	width:65px;
	font-weight: 100;
	color: #59b881;
	padding-top: 7px;
	text-align: center;
}
.industryBody-down-td3{
	width:90px;
	font-weight: 100;
	padding-top: 7px;
	text-align:center;
}
.industryBody-down-td4{
	width:60px;
	font-weight: 100;
	padding-top: 7px;
}
a{
	color: #528FCC;
}
