.firstHead{
	position: absolute;
	left: 5%;
	top: 12%;
}
.firstText{
	position: absolute;
	left: 11%;
	top: 14%;
	font-weight: bold;
	font-size: 18px;
	font-family: 'Cabin Condensed', sans-serif;
}
.strategyBar{
	position: absolute;
	left: 8%;
	top: 22%;
	background-color: #FFFFFF;
	border: 1px solid #000000;
	width: 81%;
	height: 7%;
}
.firStr{
	position: absolute;
	left: 5%;
	top: 20%;
	font-weight: 500;
	font-size: 16px;
	font-family: 'Cabin Condensed', sans-serif;
}
.secStr{
	position: absolute;
	left: 15%;
	top: 20%;
	font-weight: 500;
	font-size: 16px;
	font-family: 'Cabin Condensed', sans-serif;
}
.thirdStr{
	position: absolute;
	left: 25%;
	top: 20%;
	font-weight: 500;
	font-size: 16px;
	font-family: 'Cabin Condensed', sans-serif;
}
.fouStr{
	position: absolute;
	left: 35%;
	top: 20%;
	font-weight: 500;
	font-size: 16px;
	font-family: 'Cabin Condensed', sans-serif;
}
.sin{
	position: absolute;
	left: 8%;
	top: 29%;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	width: 48%;
	height: 30%;
}
