.datahelper{
	width: 100%;
	height: 385px;
	background-color: #FFFFFF;
}
.datahelperhead{
	float: left;
	margin-left: 15%;
	width: 70%;
	height: 49px;
	border-bottom: 1px solid #C0C0C0;
}
.dhheantext{
	float: left;
	margin-top: 15px;
	text-align: left;
	width: 15%;
	height: 39px;
	font-size: 26px;
	font-weight: 100;
	font-family: "Roboto Mono", monospace;
}
.graph{
	float: left;
	margin-left: 15%;
	width: 70%;
	height: 300px;
}
.kimgandindex{
	float: left;
	width: 100%;
	height: 300px;
	/*background-color: #F8F8F8;*/
}
.kimg{
	float: left;
	width: 70%;
	height:300px;
	/*background-color: #F8F8F8;*/
}
.indexhead{
	float: left;
	margin-left: 15%;
	width: 70%;
	height: 20px;
	/*background-color: #F8F8F8;*/
}
.idneximg{
	float: left;
	margin-left: 15%;
	width: 70%;
	height:180px;
	/*background-color: #F8F8F8;*/
}
.indexbutton{
	float: left;
	margin-left: 72%;
	width: 28%;
	height: 20px;
	/*background-color: #F8F8F8;*/
}
.mkrbbutton{
	cursor: hand;
	float: left;
	text-align: center;
	margin-left: 3%;
	width: 20%;
	height: 20px;
	color: #FFFFFF;
	background-color: #003366;
	opacity: 0.8;
	border-radius: 3px;
	font-size: 14px;
	font-weight: 100;
	font-family: "Roboto Mono", monospace;
}
#MACDbutton{
	color: #FFFFFF;
	background-color: #003366;
}
#KDJbutton{
	color: #000000;
	background-color: #FFFFFF;
}
#RSIbutton{
	color: #000000;
	background-color: #FFFFFF;
}
#BOLLbutton{
	color: #000000;
	background-color: #FFFFFF;
}
.realanddata{
	float: left;
	width: 28%;
	height: 300px;
	/*background-color: #000000;*/
}
.realdata{
	float: left;
	width: 100%;
	height: 99px;
	/*border-bottom: 1px solid #C0C0C0;*/
}
.resulttext{
	text-align: center;
	margin-top: 40px;
	font-size: 20px;
	font-family: "Roboto Mono", monospace;
	background-color: #FFFFFF;
}
.resultdata{
	text-align: center;
	margin-top: 10px;
	font-size: 20px;
	font-family: "Roboto Mono", monospace;
	background-color: #FFFFFF;
}
.testtradehead{
	margin-top: 30px;
	float: left;
	width: 100%;
	height: 50px;
	/*background-color: #F8F8F8;*/
}
.testheadtext{
	float: left;
	margin-left: 15%;
	width: 70%;
	height: 49px;
	/*background-color: #F8F8F8;*/
	border-bottom: 1px solid #C0C0C0;
}
.text{
	float: left;
	/*margin-left: 15%;*/
	width: 15%;
	margin-top: 15px;
	height: 34px;
	font-size: 26px;
	font-weight: 100;
	font-family: "Roboto Mono", monospace;
}
#inputstcode{
	float: left;
	margin-left: 15%;
	width: 15%;
	margin-top: 20px;
	height: 25px;
	border-radius: 3px;
	border: 1px solid #C0C0C0;
}
#inputnumofcode{
	float: left;
	margin-left: 3%;
	width: 15%;
	margin-top: 20px;
	height: 25px;
	border-radius: 3px;
	border: 1px solid #C0C0C0;
}
.nowmoney{
	float: left;
	width: 5%;
	margin-top: 23px;
	height: 25px;
}
.nowmoneytext{
	float: left;
	margin-left: 3%;
	width: 9%;
	margin-top: 23px;
	height: 25px;
}
.check{
	cursor: hand;
	float: left;
	text-align: center;
	margin-top: 20px;
	margin-left: 5%;
	width: 5%;
	height: 22px;
	color: #FFFFFF;
	background-color: #003366;
	opacity: 0.8;
	border-radius: 3px;
	font-size: 18px;
	font-weight: 100;
	font-family: "Roboto Mono", monospace;
}
.buy{
	cursor: hand;
	float: left;
	text-align: center;
	margin-top: 20px;
	margin-left: 1%;
	width: 5%;
	height: 22px;
	color: #FFFFFF;
	background-color: #003366;
	opacity: 0.8;
	border-radius: 3px;
	font-size: 18px;
	font-weight: 100;
	font-family: "Roboto Mono", monospace;
}
.stocktable{
	float: left;
	margin-left: 15%;
	margin-bottom: 300px;
	width: 67%;
}
.st{
	float: left;
	width: 100%;
}
.stth{
	text-align: left;
	width: 12%;
	font-size: 14px;
	font-weight: 100;
	font-family: "Roboto Mono", monospace;
}
.delete{
	text-align: right;
	width: 12%;
	font-size: 14px;
	font-weight: 100;
	font-family: "Roboto Mono", monospace;
}
.predict{
	float: left;
	margin-top: 100px;
	width: 100%;
	height: 300px;
	background-color: #F8F8F8;
}