ol li {
	MARGIN: 8px
}

#strategybar {
	margin-left: 15%;
	margin-top: 10px;
	height: 45px;
	width: 70%;
}

#strategybar .hmtext {
	float: left;
	width: 98%;
	height: 35px;
	margin-top: 10px;
	margin-left: 1%;
	font-size: 26px;
	font-weight: 100;
	font-family: "Roboto Mono", monospace;
	border-bottom: 1px solid #C0C0C0;
}

#strategybar span {
	height: 30px;
}

#con {
	margin: 1px auto;
	width: 70%;
}

#tags {
	margin: 0px;
	padding: 0px;
	/*border: 1px solid #000000;*/
	opacity: 0.8;
	background-color: #FFFFFF;
	height: 5%;
	font-size: 20px;
	font-family: "Roboto Mono", monospace;
	
	font-weight: 100;
}

#tags li {
	float: left;
	margin-right: 1px;
	list-style-type: none;
	height: 100%;
	vertical-align: middle;
}

#tags li a {
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	FLOAT: left;
	PADDING-BOTTOM: 0px;
	COLOR: #999;
	PADDING-TOP: 0px;
	TEXT-DECORATION: none;
	line-height: 40px;
	height: 40px;
	font-weight: 100px;
	vertical-align: middle;
}

#tags li.selectTag {
	margin-bottom: -2px;
	position: relative;
	height: 100%;
	font-weight: 100;
}

#tags li.selectTag a {
	border-bottom: 2px solid rgb(62, 196, 131);
	COLOR: #000000;
	LINE-HEIGHT: 40px;
	HEIGHT: 40px;
	vertical-align: middle;
}

#tagContent {
	padding: 0px;
	margin: 0px;
	background-color: #fff
}

.tagContent {
	overflow-y: scroll;
	/*border: 1px solid #000000;*/
	DISPLAY: none;
	height: 60%;
}

#tagContent DIV.selectTag {
	DISPLAY: block
}

#con_str {
	margin: 1px auto;
	width: 70%;
}

#tags_str {
	margin: 0px;
	padding: 0px;
	/*border: 1px solid #000000;*/
	opacity: 0.8;
	background-color: #FFFFFF;
	height: 5%;
	font-size: 20px;
	font-family: "Roboto Mono", monospace;
	font-weight: 100;
}

#tags_str li {
	float: left;
	margin-right: 1px;
	list-style-type: none;
	height: 100%;
	vertical-align: middle;
}

#tags_str li a {
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	FLOAT: left;
	PADDING-BOTTOM: 0px;
	COLOR: #999;
	PADDING-TOP: 0px;
	TEXT-DECORATION: none;
	line-height: 40px;
	height: 40px;
	vertical-align: middle;
}

#tags_str li.selectTag_str {
	MARGIN-BOTTOM: -2px;
	POSITION: relative;
	HEIGHT: 100%
}

#tags_str li.selectTag_str a {
	border-bottom: 2px solid rgb(62, 196, 131);
	COLOR: #000;
	LINE-HEIGHT: 40px;
	HEIGHT: 40px;
	vertical-align: middle;
}

#tagContent_str {
	padding: 0px;
	margin: 0px;
	margin-left: 100px;
	background-color: #fff
}

.tagContent_str {
	overflow-y: scroll;
	/*border: 1px solid #000000;*/
	margin-top: 10px;
	DISPLAY: none;
}

#tagContent_str DIV.selectTag_str {
	DISPLAY: block
}

#param {
	width: 100%;
}

#paramTable {
	width: 100%;
}

#paramTable th {
	width: 33%;
	font-weight: 100;
	padding : 10px;
	
}

#createStockPool {
	margin: 20px auto;
	width: 70%;
}

#pool_tip {
	float: left;
	line-height: 40.14px;
	font-size: 18px;
	font-family: "Roboto Mono", monospace;
	font-weight: 100;
	color: #000000;
	background: #FFFFFF;
}

#tip_tags {
	margin: 0px;
	padding: 0px;
	margin-left: 90px;
	opacity: 0.8;
	background-color: #FFFFFF;
	height: 5%;
	font-size: 20px;
	font-family: "Roboto Mono", monospace;
	font-weight: 100;
}

#tip_tags li {
	float: left;
	margin-right: 1px;
	list-style-type: none;
	height: 100%;
	vertical-align: middle;
}

#tip_tags li a {
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	FLOAT: left;
	PADDING-BOTTOM: 0px;
	COLOR: #999;
	PADDING-TOP: 0px;
	TEXT-DECORATION: none;
	line-height: 40px;
	height: 40px;
	vertical-align: middle;
}

#tip_tags li.selectTag_str {
	MARGIN-BOTTOM: -2px;
	POSITION: relative;
	HEIGHT: 100%
}

#tip_tags li.selectTag_str a {
	border-bottom: 2px solid rgb(62, 196, 131);
	COLOR: #000;
	LINE-HEIGHT: 40px;
	HEIGHT: 40px;
	vertical-align: middle;
}

#chooseStrategy {
	float: left;
	width: 90px;
	text-align: center;
	line-height: 40.14px;
	font-size: 18px;
	font-family: "Roboto Mono", monospace;
	font-weight: 100;
	color: #000000;
	background: #FFFFFF;
}

#pool_tags {
	margin: 0px;
	padding: 0px;
	margin-left: 90px;
	opacity: 0.8;
	background-color: #FFFFFF;
	height: 5%;
	font-size: 20px;
	font-family: "Roboto Mono", monospace;
	font-weight: 100;
}

#pool_tags li {
	float: left;
	margin-right: 1px;
	list-style-type: none;
	height: 100%;
	vertical-align: middle;
}

#pool_tags li a {
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	FLOAT: left;
	PADDING-BOTTOM: 0px;
	COLOR: #999;
	PADDING-TOP: 0px;
	TEXT-DECORATION: none;
	line-height: 40px;
	height: 40px;
	vertical-align: middle;
}

#pool_tags li.selectTag_Pool {
	MARGIN-BOTTOM: -2px;
	POSITION: relative;
	HEIGHT: 100%
}

#pool_tags li.selectTag_Pool a {
	border-bottom: 2px solid rgb(62, 196, 131);
	COLOR: #000;
	LINE-HEIGHT: 40px;
	HEIGHT: 40px;
	vertical-align: middle;
}

.pool_Content {
	margin-left: 100px;
	margin-top: 20px;
	vertical-align: text-bottom;
	display: none;
}

.pool_Content span {
	height: 40px;
	line-height: 40px;
	float: left;
	font-size: 18px;
	font-family: "Roboto Mono", monospace;
	font-weight: 100;
	color: #000000;
	background: #FFFFFF;
}

.pool_Content select {
	height: 30px;
}