ol li {
	MARGIN: 8px
}

#strategybar {
	margin-left: 5%;
	margin-top: 1%;
	height: 50px;
	/*text-align: center;*/
}

#strategybar * {
	vertical-align: middle;
	font-weight: bold;
	font-size: 18px;
}

#strategybar span {
	height: 30px;
}

#con {
	margin: 20px auto;
	width: 81%;
}

#tags {
	margin: 0px;
	padding: 0px;
	border: 1px solid #000000;
	opacity: 0.8;
	background-color: #FFFFFF;
	height: 5%;
	font-size: 18px;
	font-family: 'Cabin Condensed', sans-serif;
	font-weight: bold;
}

#tags li {
	float: left;
	margin-right: 1px;
	list-style-type: none;
	height: 100%;
	vertical-align: middle;
}

#tags li a {
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	FLOAT: left;
	PADDING-BOTTOM: 0px;
	COLOR: #999;
	PADDING-TOP: 0px;
	TEXT-DECORATION: none;
	line-height: 40px;
	height: 40px;
	vertical-align: middle;
}

#tags li.selectTag {
	MARGIN-BOTTOM: -2px;
	POSITION: relative;
	HEIGHT: 100%
}

#tags li.selectTag a {
	COLOR: #000;
	LINE-HEIGHT: 40px;
	HEIGHT: 40px;
	vertical-align: middle;
}

#tagContent {
	padding: 0px;
	margin: 0px;
	background-color: #fff
}

.tagContent {
	overflow-y: scroll;
	border: 1px solid #000000;
	DISPLAY: none;
	height: 60%;
}

#tagContent DIV.selectTag {
	DISPLAY: block
}

#con_str {
	margin: 20px auto;
	width: 81%;
}

#tags_str {
	margin: 0px;
	padding: 0px;
	border: 1px solid #000000;
	opacity: 0.8;
	background-color: #FFFFFF;
	height: 5%;
	font-size: 18px;
	font-family: 'Cabin Condensed', sans-serif;
	font-weight: bold;
}

#tags_str li {
	float: left;
	margin-right: 1px;
	list-style-type: none;
	height: 100%;
	vertical-align: middle;
}

#tags_str li a {
	PADDING-RIGHT: 10px;
	PADDING-LEFT: 10px;
	FLOAT: left;
	PADDING-BOTTOM: 0px;
	COLOR: #999;
	PADDING-TOP: 0px;
	TEXT-DECORATION: none;
	line-height: 40px;
	height: 40px;
	vertical-align: middle;
}

#tags_str li.selectTag_str {
	MARGIN-BOTTOM: -2px;
	POSITION: relative;
	HEIGHT: 100%
}

#tags_str li.selectTag_str a {
	COLOR: #000;
	LINE-HEIGHT: 40px;
	HEIGHT: 40px;
	vertical-align: middle;
}

#tagContent_str {
	padding: 0px;
	margin: 0px;
	background-color: #fff
}

.tagContent_str {
	overflow-y: scroll;
	border: 1px solid #000000;
	DISPLAY: none;
	height: 20%;
}

#tagContent_str DIV.selectTag_str {
	DISPLAY: block
}