/*普通按钮*/
.button{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-radius: 0;
    -fx-padding: 0;
    -fx-border-insets: 0;
    -fx-content-display: center;
}

/*首页进入or退出按钮*/
.firstPage_Button{
    -fx-background-color: rgba(39,44,133,0.64);
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-opacity: 0.7;
    -fx-text-alignment: center;
    -fx-font-size: 14px;
    -fx-text-fill: #ffffff;
    -fx-pref-width: 100;
    -fx-pref-height: 40;
}

.firstPage_Button:hover{
    -fx-opacity: 0.5;
}

.firstPage_Button:pressed{
    -fx-opacity: 0.2;
}

/*左下角退出系统按钮*/
#closeButton{
    -fx-background-color:#666666;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-opacity: 1;
    -fx-text-alignment: center;
    -fx-font-size: 14px;
    -fx-text-fill: #ffffff;
    -fx-pref-width: 200;
    -fx-pref-height: 40;
}

#closeButton:hover{
    -fx-opacity: 0.8;
}

#closeButton:pressed{
    -fx-opacity: 0.6;
}

/*左侧三个tab里的搜索按钮*/
.SearchButton{
    -fx-background-color: #666666;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-opacity: 1;
    -fx-text-alignment: center;
    -fx-font-size: 14px;
    -fx-text-fill: #ffffff;
    -fx-pref-width: 100;
    -fx-pref-height: 30;
}

.SearchButton:hover{
    -fx-opacity: 0.8;
}

.SearchButton:pressed{
    -fx-opacity: 0.6;
}

#dialogButton{
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-font-size: 14px;
    -fx-font-fill: #333333;
    -fx-pref-width: 60;
    -fx-pref-height: 30;
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
    -fx-background-color: #dddddd;
}

/*比较界面按钮*/
.TwoSharesButton{
    -fx-background-color:#aaaaaa;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-border-style: none;
    -fx-text-alignment: center;
    -fx-font-size: 12px;
    -fx-text-fill: #ffffff;
    -fx-pref-width: 60;
    -fx-pref-height: 30;
}

.TwoSharesButton:focused{
    -fx-background-color: #dddddd;
    -fx-text-fill: #333333;
    -fx-opacity: 1;
}

/*单只股票界面按钮*/
.SingleShareButton{
    -fx-background-color:#aaaaaa;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-border-style: none;
    -fx-text-alignment: center;
    -fx-font-size: 14px;
    -fx-text-fill: #ffffff;
    -fx-pref-width: 100;
    -fx-pref-height: 40;
}

.SingleShareButton:focused{
    -fx-background-color: #dddddd;
    -fx-text-fill: #333333;
    -fx-opacity: 1;
}

/*tab的默认样式*/
.TabButton{
    -fx-opacity: 1;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-text-fill: white;
    -fx-fill: white;
    -fx-pref-width: 70;
    -fx-pref-height: 40;
    -fx-padding: 0 0 0 0;
}

.tab :armed{
    -fx-background-color: #666666;
}

.tab-pane{
    -fx-background-color: rgba(244,244,244,0.99);
}

/*label默认样式*/
.label{
    -fx-text-fill: #333333;
    -fx-font-size: 14px;
    -fx-text-alignment: center;
}

/*textFeld默认样式*/
.text-field{
    -fx-text-alignment: center;
    -fx-font-fill:#333333;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-background-color: #eeeeee;
}

/*右侧根节点样式*/
.RootPane{
    -fx-background-color: #eeeeee;
}

#mainPane{
    -fx-background-color: #dddddd;
}

.Picker{
    -fx-border-color: #eeeeee;
    -fx-background-color: #eeeeee;
}

/*chart底部颜色*/
.ChartPane{
    -fx-background-color: #dddddd;
}

.ButtonBottom{
    -fx-background-color: #cccccc;
}

.LabelBottom{
    -fx-background-color: #cccccc;
}

.SharePane{
    -fx-background-color: #cccccc;
}