.box{
    opacity:0.7;
    filter:"alpha(opacity=50)";
    -ms-filter:"alpha(opacity=50)";
}
.text-left{
    margin-left: 600px;
    margin-top: 300px;
}
.left{
    color: black;
    text-align: center;
    font-size: 100px;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", STXihei, SimSun, Tahoma, Arial, sans-serif;
}
.text-right{
    margin-left: 820px;
    margin-top: -130px;
}
.right{
    color: #c0a16b;
    text-align: center;
    font-size: 100px;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", STXihei, SimSun, Tahoma, Arial, sans-serif;
}
.item1{
    padding-left: 10px;
    padding-top: 10px;
    border-top: 5px solid transparent;
    margin-left: 60%;
    width: 110px;
    height: 40px;
    background: transparent;
}
.item1 a{
    color: black;
    font-size: 24px;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", STXihei, SimSun, Tahoma, Arial, sans-serif;
    font-weight: bold;
}
a:link{
    text-decoration: none;
}