<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>我的策略</title>
		<link rel="stylesheet" href="../../css/ucenter/main.css">
	</head>

	<body>
		<div class="header">
			<div class="control">
				<span class="p_center fl">
            <a href="/marketInfo.html" class="logo"></a>
            <a href="my.html" target="_self" class="person">个人中心</a>
        </span>
				<div class="hd_right fr">
					<div class="loginedbox">
						<a id="J_username" class="sns_username dib freshIcon" href="http://stock.10jqka.com.cn/my/" target="_blank"></a>
						<span class="boundary dib">|</span>
						<a class="c_login dib homeloginout" target="_self" id="header_logined_out" href="javascript:void(0);">退 出</a>
					</div>
				</div>
			</div>
		</div>
		<div class="info_panel day">
			<div class="control">
				<h1 class="person_pic"><a href="http://t.10jqka.com.cn/newcircle/user/profile/" target="_blank"><i></i></a><span id="page-title">帐号信息</span></h1>
				<div class="infos">
					<p>安全的密码保护你的资金</p>
				</div>
			</div>
		</div>

		<div class="lay_out control">
			<div class="left_bar">
				<ul class="inner ta-parent-box" data-taid="wdzx_dh1" data-fid="wdzx_djall">
					<li class="nav-btn person_sel" data-id="zixuan" data-title="我的自选">
						<a href="user_center.html">我的自选</a>
					</li>
					<li class="nav-btn receive" data-id="focus" data-title="我的策略">
						<a href="my_strategy.html">我的策略</a>
					</li>
					<li class="nav-btn pconcern" data-id="collection" data-title="我的收藏">
						<a href="my_collection.html">我的收藏</a>
					</li>
				</ul>

				<hr>
				<ul class="outer ta-parent-box" data-taid="wdzx_dh2" data-fid="wdzx_djall">
					<li class="hqcenter">
						<a href="/marketInfo.html" target="_blank">行情中心</a>
					</li>
					<li class="clcenter">
						<a target="_blank">策略中心</a>
					</li>
				</ul>

				<hr>

				<ul class="outer ta-parent-box" data-taid="wdzx_dh2" data-fid="wdzx_djall">
					<li class="map">
						<a href="account_settings.html">帐号信息</a>
					</li>
				</ul>

				<div class="framebox famouse ta-parent-box" data-taid="wdzx_mj" data-fid="wdzx_djall">
					<div class="wrap ta-scroll-box scroll-ta-over" data-scroll-taid="wdzx_llmaster" id="wdzx-rmmj">
						<h2><a target="_blank">关注的人</a></h2>
					</div>
					<ul>
						<li>
							<a  target="_blank" class="toux">
								<img src="../../img/user.jpg">
							</a>
							<div class="infos">
								<a href="http://master.10jqka.com.cn/mj_3082/" target="_blank" class="fname">源哥哥</a>
							</div>
						</li>
						<li>
							<a  target="_blank" class="toux">
								<img src="../../img/user.jpg">
							</a>
							<div class="infos">
								<a href="http://master.10jqka.com.cn/mj_3082/" target="_blank" class="fname">有孕儿子</a>
							</div>
						</li>
						<li>
							<a  target="_blank" class="toux">
								<img src="../../img/user.jpg">
							</a>
							<div class="infos">
								<a href="http://master.10jqka.com.cn/mj_3082/" target="_blank" class="fname">赵德宇</a>
							</div>
						</li>
						<li>
							<a  target="_blank" class="toux">
								<img src="../../img/user.jpg">
							</a>
							<div class="infos">
								<a href="http://master.10jqka.com.cn/mj_3082/" target="_blank" class="fname">王雪</a>
							</div>
						</li>
					</ul>

				</div>

				<div class="right_content fr">
					<!-- 我的关注开始-->
					<div class="right_bar_tit">
						<span style="float:left;">我的策略</span>
						<a class="ta-own-box" data-taid="wdgz_wdzg" data-fid="wdgz_djall" target="_blank">进入策略研究&gt;&gt;</a>
					</div>
					<div class="concern_detail_list ta-parent-box" data-taid="wdgz_wdgz" data-fid="wdgz_djall" id="master-list">
						<a href="http://master.10jqka.com.cn/" target="_blank">你还没有制定你的策略，快去尝试制定你的策略吧&gt;&gt;</a>
					</div>
				</div>
	</body>

</html>