.firstHead{
	position: absolute;
	left: 5%;
	top: 12%;
}
.firstText{
	position: absolute;
	left: 11%;
	top: 14%;
	font-weight: bold;
	font-size: 18px;
	font-family: 'Cabin Condensed', sans-serif;
}
.SSE{
	border: 1px solid #000000;
	opacity: 0.8;
	position: absolute;
	left: 8%;
	top: 22%;
	background-color: #FFFFFF;
	width: 25%;
	height: 15%;
	
}
.sszhead{
	position: absolute;
	left: 5%;
	top:10%;
	background: url(http://i.thsi.cn/images/q/hq-icons.jpg) no-repeat;
	width: 20%;
	height: 17%;
}
.SSE-text{
	position: absolute;
	left: 15%;
	top: 6%;
	font-size: 18px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: 500;
}
.ssz1{
	position: absolute;
	left: 5%;
	top: 55%;
	font-size: 18px;
    font-weight: bold;
    color: #d75442;
}
.ssz2{
	position: absolute;
	left: 35%;
	top: 55%;
	font-size: 18px;
    font-weight: bold;
    color: #d75442;
}
.ssz3{
	position: absolute;
	left: 55%;
	top: 55%;
	font-size: 18px;
    font-weight: bold;
    color: #d75442;
}
.SZI{
	border: 1px solid #000000;
	opacity: 0.8;
	position: absolute;
	left: 36%;
	top: 22%;
	background-color: #FFFFFF;
	width: 25%;
	height: 15%;
}
.szihead{
	position: absolute;
	left: 5%;
	top:10%;
	background: url(http://i.thsi.cn/images/q/hq-icons.jpg) no-repeat;
	width: 20%;
	height: 17%;
}
.SZI-text{
	position: absolute;
	left: 15%;
	top: 6%;
	font-size: 18px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: 500;
}
.SZ300{
	border: 1px solid #000000;
	opacity: 0.8;
	position: absolute;
	left: 64%;
	top: 22%;
	background-color: #FFFFFF;
	width: 25%;
	height: 15%;
}
.szhead{
	position: absolute;
	left: 5%;
	top:10%;
	background: url(http://i.thsi.cn/images/q/hq-icons.jpg) no-repeat;
	width: 20%;
	height: 17%;
}
.SZ300-text{
	position: absolute;
	left: 15%;
	top: 6%;
	font-size: 18px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: 500;
}
.secondHead{
	position: absolute;
	left: 5%;
	top: 79%;
}
.secondText{
	position: absolute;
	left: 11%;
	top: 81%;
	font-weight: bold;
	font-size: 18px;
	font-family: 'Cabin Condensed', sans-serif;
}
.historyHead{
	position: absolute;
	left: 8%;
	top: 88%;
	border: 1px solid #000000;
	opacity: 0.8;
	background-color: #FFFFFF;
	width: 81%;
	height: 5%;
}
.hhead{
	position: absolute;
	left: 45%;
	top: 10%;
	font-size: 18px;
	font-family: 'Cabin Condensed', sans-serif;
	font-weight: bold;
}
.klinegraph{
	position: absolute;
	left: 8%;
	top: 93%;
	border: 1px solid #000000;
	width: 81%;
	height: 55%;
	background-color: #FFFFFF;
}
.volume{
	position: absolute;
	left: 8%;
	top: 148%;
	border: 1px solid #000000;
	width: 81%;
	height: 25%;
	background: #FFFFFF;
}
.thirdHead{
	position: absolute;
	left: 5%;
	top: 175%;
}
.thirdText{
	position: absolute;
	left: 11%;
	top: 177%;
	font-weight: bold;
	font-size: 18px;
	font-family: 'Cabin Condensed', sans-serif;
}
.leftrange{
	position: absolute;
	left: 8%;
	top: 185%;
	background-color: #FFFFFF;
	opacity: 0.8;
	width: 38%;
	height: 7%;
	border: 1px solid #000000;
}
.leftrangehead{
	position: absolute;
	left: 40%;
	top: 20%;
	font-weight: 600;
	font-size: 18px;
	font-family: 'Cabin Condensed', sans-serif;
}
.rightrange{
	position: absolute;
	left: 51%;
	top: 185%;
	background-color: #FFFFFF;
	opacity: 0.8;
	width: 38%;
	height: 7%;
	border: 1px solid #000000;
}
.rightrangehead{
	position: absolute;
	left: 40%;
	top: 20%;
	font-weight: 600;
	font-size: 18px;
	font-family: 'Cabin Condensed', sans-serif;
}
.industry-left{
	position: absolute;
	left: 8%;
	top: 192%;
	width: 19%;
	border: 1px solid #000000;
	background-color: #FFFFFF;
}
.industry-right{
	position: absolute;
	left: 27%;
	top: 192%;
	width: 19%;
	border: 1px solid #000000;
	background-color: #FFFFFF;
}
.stock-left{
	position: absolute;
	left: 51%;
	top: 192%;
	width: 19%;
	border: 1px solid #000000;
	background-color: #FFFFFF;
}
.stock-right{
	position: absolute;
	left: 70%;
	top: 192%;
	width: 19%;
	border: 1px solid #000000;
	background-color: #FFFFFF;
}
.fourthHead{
	position: absolute;
	left: 5%;
	top: 263%;
}
.fourthText{
	position: absolute;
	left: 11%;
	top: 265%;
	font-weight: bold;
	font-size: 18px;
	font-family: 'Cabin Condensed', sans-serif;
}
.leftnews{
	position: absolute;
	left: 8%;
	top: 273%;
	width: 40.5%;
	height: 30%;
	border: 1px solid #000000;
}
.rightnews{
	position: absolute;
	left: 48.5%;
	top: 273%;
	width: 40.5%;
	height: 30%;
	border: 1px solid #000000;
}
.more{
	position: absolute;
	left: 85%;
	top: 269%;
	color: #0066CC;
	font-weight: 500;
	font-size: 16px;
	font-family: 'Cabin Condensed', sans-serif;
}
a{
	color: #0066CC;
}
.industryHead{
	color: #444444;
	font-size: 14px;
}
.industryBody-rise{
	font-size: 14px;
	font-weight: 100;
}
.industryBody-rise-td1{
	width:75px;
	font-weight: 100;
	color: #528FCC;
	padding-top: 3%;
	text-align: center;	
}
.industryBody-rise-td2{
	font-size: 12px;
	width:65px;
	font-weight: 100;
	color: #D75442;
	padding-top: 3%;
	text-align: center;
}
.industryBody-rise-td3{
	width:90px;
	font-weight: 100;
	padding-top: 3%;
	text-align:center;
}
.industryBody-rise-td4{
	width:60px;
	font-weight: 100;
	padding-top: 3%;
}
.industryBody-down{
	font-size: 14px;
	font-weight: 100;
}
.industryBody-down-td1{
	width:75px;
	font-weight: 100;
	color: #528FCC;
	padding-top: 7px;
	text-align: center;	
}
.industryBody-down-td2{
	font-size: 12px;
	width:65px;
	font-weight: 100;
	color: #59b881;
	padding-top: 7px;
	text-align: center;
}
.industryBody-down-td3{
	width:90px;
	font-weight: 100;
	padding-top: 7px;
	text-align:center;
}
.industryBody-down-td4{
	width:60px;
	font-weight: 100;
	padding-top: 7px;
}
.stockHead{
	color: #444444;
	font-size: 14px;
}
.stockBody-rise{
	font-size: 14px;
	font-weight: 100;
}
.stockBody-rise-td1{
	width:95px;
	font-weight: 100;
	color: #528FCC;
	padding-top: 7px;
	text-align: center;	
}
.stockBody-rise-td2{
	font-size: 12px;
	width:80px;
	font-weight: 100;
	color: #D75442;
	padding-top: 7px;
	text-align: center;
}
.stockBody-rise-td3{
	width:50px;
	font-weight: 100;
	padding-top: 7px;
	text-align:center;
}
.stockBody-rise-td4{
	width:60px;
	font-weight: 100;
	padding-top: 7px;
}
.stockBody-down{
	font-size: 14px;
	font-weight: 100;
}
.stockBody-down-td1{
	width:95px;
	font-weight: 100;
	color: #528FCC;
	padding-top: 7px;
	text-align: center;	
}
.stockBody-down-td2{
	font-size: 12px;
	width:80px;
	font-weight: 100;
	color: #59b881;
	padding-top: 7px;
	text-align: center;
}
.stockBody-down-td3{
	width:50px;
	font-weight: 100;
	padding-top: 7px;
	text-align:center;
}
.stockBody-down-td4{
	width:60px;
	font-weight: 100;
	padding-top: 7px;
}