.chart{
    -fx-background-color: black;
    -fx-stroke-width: 0px;
}
.chart-plot-background{
    -fx-background-color: transparent;
}
.chart-alternative-row-fill {
    -fx-fill: null;
    -fx-stroke: null;
}

.chart-alternative-column-fill {
    -fx-fill: null;
    -fx-stroke: null;
}

.chart-vertical-grid-lines {
    -fx-stroke: black;
    /*derive(-fx-background, -10%);*/
    -fx-stroke-dash-array: 0.1em, 0.1em;
}

.chart-horizontal-grid-lines {
    -fx-stroke: black;
    /*derive(-fx-background, -10%);*/
    -fx-stroke-dash-array: 0.1em, 0.1em;
}
.default-color0.chart-bar{
    -fx-bar-fill: red;
    -fx-stroke-width: 1px;
}

.default-color1.chart-bar{
    -fx-bar-fill: green;
}
.default-color0.chart-legend-item-symbol{
    -fx-background-color:red;
}
.default-color1.chart-legend-item-symbol{
    -fx-background-color: green;
}
.chart-legend{
    -fx-background-color: black;
}
.chart-legend-item{
    -fx-background-color: black;
    -fx-text-fill: white;
}
.axis{
    -fx-font-size:1.2em;
    -fx-tick-label-fill: white;
}
.axis-label{
    -fx-text-fill: white;
}